/* 
Color Pallete:
#DDFFF7
#93E1D8
#2B4162
#818479
#393E41

*/

.Home{
    background-color: tomato;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.Home img{
    
    position: absolute;
    top: -70%;
    bottom: -70%;
    width: 100%;
}
.About{
    background-color: green;
    height: 1500px;
}
.Projects{
    background-color: purple;
    height: 1500px;
}
.Contact{
    background-color: brown;
    height: 1500px;
}
footer{
    height: 100px;
    width: auto;
    overflow: hidden;
}
footer img{
    position: relative;
    transform: scale(.5);
    top: -100px;
    object-fit: cover;
}